*
{
    margin: 0;
    padding: 0;
    background-color: #E2E2E2;
}

hr
{
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.menu
{
    background-color: #E2E2E2;
    overflow: hidden;
}

.menu a
{
    padding: 1rem 3rem;
    float: left;
    border-left: 1px solid #333333;
    color: #333333;
}

.menu a:hover
{
    text-decoration: none;
    background-color: #333333;
    color: #E2E2E2;
}

.artigos
{
    display: block;
    margin-bottom: 100px;
}

.carac-gerais
{
    padding: 3rem;
    text-align: center;
}

.tam-violencia
{
    padding: 3rem;
    text-align: justify;
}

.tam-violencia aside
{
    float: right;
}

.visao
{
    padding: 3rem;
    text-align: justify;
}

.refs
{
    padding: 3rem;
    text-align: left;
}

footer
{
    background-color: #333333;
    color: #E2E2E2;
    padding: 5rem;
    text-align: center;
}