/*  1 & 2 - Modifique o tamanho do h1 para 65 pixels; Modifique a cor do texto do h1 para laranja. */
h1
{
  font-size: 65px;
  color: rgb(200, 100, 0);
}
/*  3 - Modifique a cor de fundo da lista não ordenada. */
ul
{
  background-color: teal;
}
/*  4 - Crie uma classe para modificar a cor de fundo da tag p e da ul ao mesmo tempo. */
.altera-cor
{
  background-color: darkgreen;
}